<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Codenames - Rules</title>
</head>
<body>

    <li>
    Spelupplägg:
    <ul>- Ni delar in er i två lag. Varje lag väljer en "spymaster" och resten av spelarna är "operatives".</ul>
     </li>
     <li>
    Spelplanen:
        <ul>- Spelplanen består av ordkort som placeras ut i en 5x5-rutnätsform.</ul>
    </li>
 
    <li>
    Mål:
        <ul>- Varje lag har en spymaster som vet vilka ord som tillhör deras lag. Målet är att de operativa spelarna ska gissa vilka ord som tillhör deras lag baserat på ledtrådar som spymastern ger.</ul>
    </li>
 
     <li>
    Spymasterns roll:
    <ul>- Spymastern ger ledtrådar till sitt lag för att hjälpa dem att gissa vilka ord som tillhör deras lag.</ul>
    <ul>- Ledtrådarna består av ett enda ord och en siffra som anger hur många ord på spelplanen som ledtråden syftar på.</ul>
    <ul>- Spymasterns mål är att få sitt lag att gissa så många av deras lagord som möjligt med en enda ledtråd.</ul>
    </li>
 
    <li>
    Operativas roll:
    <ul>- De operativa spelarna försöker gissa vilka ord som tillhör deras lag baserat på spymasterns ledtråd.</ul>
    <ul>- De får gissa ett ord åt gången genom att peka på ordkorten på spelplanen.</ul>
    <ul>- Om de gissar rätt, placeras ett rätt gissat ordkort med deras lags färg framför dem, och de får fortsätta att gissa eller välja att avsluta sin tur.</ul>
    <ul>- Om de gissar fel, placeras ett ordkort med motståndarlagets färg framför dem, deras tur är över, och det andra laget får försöka gissa sina ord.</ul>
    </li>

    <li>
    Risker:
    <ul>- Det finns också "dödsord" på spelplanen, som ingen av lagen får gissa på. Om de gissar ett dödsord förlorar de direkt.</ul>
    </li>
 

    <li>
    Vinnande lag:
    <ul>- Det första laget som lyckas gissa alla sina ord vinner!</ul>
    </li>
 
 Codenames är både taktiskt och strategiskt, och det är viktigt att både spymastern och de operativa spelarna samarbetar och tänker smart för att vinna spelet. Lycka till och ha kul!
    
</body>
</html>